<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>S2 Magister Komputer</h1>
            <span>Universitas Budi Luhur</span>
            <span><address>Jakarta</address><time>2013 - 2016</time></span>
        </header>
        <p>
            <em>Thesis:- </em>
        </p>
    </article>
    <article>
        <header>
            <h1>S1 Sistem Informasi</h1>
            <span>STMIK Swadharma</span>
            <span><address>Jakarta</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Skripsi: -.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>D3 Manajemen Informatika</h1>
            <span>AMIK Bina Sarana Informatika</span>
            <span><address>Jakarta</address><time>2018 to 2011</time></span>
        </header>
        <p>
            <em>TA: -.</em>
        </p>
    </article>
     <article>
        <header>
            <h1>SMAN 1 Patuk</h1>
           
            <span><address>Gunungkidul</address><time>2002 to 2005</time></span>
        </header>
        <p>
            <em>TA: -.</em>
        </p>
    </article>
      <article>
        <header>
            <h1>SMPN 1 Gedangsari</h1>
           
            <span><address>Gunungkidul</address><time>1999 to 2002</time></span>
        </header>
        <p>
            <em>TA: -.</em>
        </p>
    </article>
      <article>
        <header>
            <h1>SDN Karanganyar</h1>
           
            <span><address>Gunungkidul</address><time>1993 to 1999</time></span>
        </header>
        <p>
            <em>TA: -.</em>
        </p>
    </article>
</section>
