<section class="thirteen columns">
    <h1>Pekerjaan</h1>
    <article>
        <header>
            <h1>Dosen</h1>
            <span><address>Universitas Mpu Tantular</address><time>2019 - Sekarang</time></span>
        </header>
        <p>Mengajar mata kuliah basis data dan e-commerce </p>
    </article>
    <article>
        <header>
            <h1>PNS</h1>
            <span><address>Kementerian Keuangan, Direktorat Jenderal Bea dan Cukai</address><time>2014 - Sekarang</time></span>
        </header>
        <p>Fungsional Pranata Komputer (System Analis, Programmer)</p>
    </article>
    <article>
        <header>
            <h1>Dosen</h1>
            <span><address>STMIK Swadharma</address><time>2012 - Sekarang</time></span>
        </header>
        <p>Mengajar mata kuliah Pemrograman Berbasis Objek, Pemrograman Berbasis Web</p>
    </article>
    <article>
        <header>
            <h1>Marketing</h1>
            <span><address>RS Pantai Indah Kapuk</address><time>2017 - 2014</time></span>
        </header>
        <p>Helper, Marketing dan Penjualan</p>
    </article>
    <article>
        <header>
            <h1>Staff Pelayanan Lapangan</h1>
            <span><address>PT Securindo Packatama Indonesia</address><time>2005 - 2007</time></span>
        </header>
        <p> Staff Parkir
        </p>
    </article>
</section>



