<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Big Data</h1>
            <span><address>Brainmatic IT Training & Consulting</address><time>2018</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Business Analysis (BCS & BABOK)</h1>
            <span><address>Andalan Nusantara Teknologi</address><time>2017</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
</section>
