<section class="thirteen columns">
    <h1>Training/ Diklat</h1>
    <article>
        <header>
            <h1>Big Data</h1>
            <span><address>Brainmatic IT Training & Consulting</address><time>2018</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Business Analysis (BCS & BABOK)</h1>
            <span><address>Andalan Nusantara Teknologi</address><time>2018</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
     <article>
        <header>
            <h1>Database Design</h1>
            <span><address>Brainmatic IT Training & Consulting</address><time>2018</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Oracle Database 11g: PL/SQL</h1>
            <span><address>Brainmatic IT Training & Consulting</address><time>2017</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
     <article>
        <header>
            <h1>Data Warehouse</h1>
            <span><address>Badan Pendidikan dan Pelatihan Keuangan</address><time>2017</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
     <article>
        <header>
            <h1>System Analysis Dan Design</h1>
            <span><address>Andalan Nusantara Teknologi</address><time>2017</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
     <article>
        <header>
            <h1>ZK Framework</h1>
            <span><address>Brainmatic IT Training & Consulting</address><time>2016</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
     <article>
        <header>
            <h1>Enterprise Java Bean 3.0 </h1>
            <span><address>Brainmatic IT Training & Consulting</address><time>2016</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
     <article>
        <header>
            <h1>Java Foundamental</h1>
            <span><address>Artivisi</address><time>2015</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    
</section>
